@font-face {
    font-family: 'Nationale';
    src: url('../fonts/Nationale-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nationale';
    src: url('../fonts/Nationale-DemiBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nationale';
    src: url('../fonts/Nationale-Bold.otf');
    font-weight: 700;
    font-style: normal;
}