$color: $color-darkblue;
$bg-color: lighten($color-lightgrey, 20%);
$link-color: $color-lightgrey;


.n-style .breadcrumb {
    background-color: transparent;
    padding: 0;
    font-weight: 400;

    .breadcrumb-item, .breadcrumb-item::before {
        color: $color;
        font-weight: bold;
    }

    .breadcrumb-item a {
        color: $link-color;
        font-weight: normal;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: '›'
    }
}