.n-style label, label.n-style {
    font-weight: bold;
    padding-bottom: 2px;
}

.n-style input, input.n-style,
.n-style textarea.form-control, textarea.form-control.n-style {
    border: $input-border-width solid $color-white;
    border-radius: 0;

    &:focus {
        border-color: darken($color-lightgrey, 5%);
        outline: none;
        outline-color: red;
        box-shadow: none;
    }

    &::placeholder {
        color: #ccc;
    }
}

.n-style input, input.n-style {
    height: 44px;
}

.n-style textarea.form-control, textarea.form-control.n-style {
    padding: 10px 15px;
}


section.white .n-style input,
section.white input.n-style,
section.white .n-style textarea.form-control,
section.white textarea.form-control.n-style {
    border: $input-border-width solid $color-darkblue;
}

.n-style fieldset .form-text.text-muted,
fieldset.n-style .form-text.text-muted {
    color: $color-white !important;
    font-style: italic;
}

section.white {
    &.n-style fieldset .form-text.text-muted,
    fieldset.n-style .form-text.text-muted {
        color: $color-black !important;
        font-style: italic;
    }
}

.n-style .form-section {
    margin-bottom: 2em;
}

.n-style .form-control.is-invalid {
    background-image: none;
}

section.lightgrey,
section.rose {
    .invalid-feedback {
        color: $color-darkred;
    }

    .form-control.is-invalid {
        border-color: $color-darkred;
    }
}