.n-style .btn, .n-style.btn {
    border-radius: 0;
    padding: 0.7em;
    font-weight: 700;
    border: $button-border-width solid black;

    min-width: 10em;

    &:disabled {
        opacity: 0.5;
    }

    &.btn-primary {
        background-color: $color-darkblue;
        border-color: $color-darkblue;

        &:disabled {
            opacity: 0.3;
            color: #999;
        }
    }

    &.btn-secondary {
        color: $color-black;
        background-color: transparent;
        border-color: $color-black;
    }

    &.btn-darkred {
        color: $color-white;
        background-color: $color-darkred;
        border-color: $color-darkred;
    }

    &.btn-lightgrey {
        color: $color-white;
        background-color: $color-lightgrey;
        border-color: $color-lightgrey;
    }

    &.btn-rose {
        color: $color-white;
        background-color: $color-rose;
        border-color: $color-rose;
    }
}

.darkblue .btn-primary.n-style, 
.darkblue .btn-darkblue.n-style {
    $c: $color-lightgrey;
    background-color: $c;
    border-color: $c;
}